/*! ------------------------------------------------------------------------ */
/*! Aileron */
/*! ------------------------------------------------------------------------ */
/*? Aileron-UltraLight */
@font-face {
    font-family: Aileron-UltraLight;
    src: url("../fonts/aileron/Aileron-UltraLight.otf");
}

/*? Aileron-UltraLightItalic */
@font-face {
    font-family: Aileron-UltraLightItalic;
    src: url("../fonts/aileron/Aileron-UltraLightItalic.otf");
}

/*? Aileron-Light */
@font-face {
    font-family: Aileron-Light;
    src: url("../fonts/aileron/Aileron-Light.otf");
}

/*? Aileron-LightItalic */
@font-face {
    font-family: Aileron-LightItalic;
    src: url("../fonts/aileron/Aileron-LightItalic.otf");
}

/*? Aileron-Regular */
@font-face {
    font-family: Aileron-Regular;
    src: url("../fonts/aileron/Aileron-Regular.otf");
}

/*? Aileron-Italic */
@font-face {
    font-family: Aileron-Italic;
    src: url("../fonts/aileron/Aileron-Italic.otf");
}

/*? Aileron-Thin */
@font-face {
    font-family: Aileron-Italic;
    src: url("../fonts/aileron/Aileron-Thin.otf");
}

/*? Aileron-ThinItalic */
@font-face {
    font-family: Aileron-ThinItalic;
    src: url("../fonts/aileron/Aileron-ThinItalic.otf");
}

/*? Aileron-SemiBold */
@font-face {
    font-family: Aileron-SemiBold;
    src: url("../fonts/aileron/Aileron-SemiBold.otf");
}

/*? Aileron-SemiBoldItalic */
@font-face {
    font-family: Aileron-SemiBoldItalic;
    src: url("../fonts/aileron/Aileron-SemiBoldItalic.otf");
}

/*? Aileron-Bold */
@font-face {
    font-family: Aileron-Bold;
    src: url("../fonts/aileron/Aileron-Bold.otf");
}

/*? Aileron-BoldItalic */
@font-face {
    font-family: Aileron-BoldItalic;
    src: url("../fonts/aileron/Aileron-BoldItalic.otf");
}

/*? Aileron-Heavy */
@font-face {
    font-family: Aileron-Heavy;
    src: url("../fonts/aileron/Aileron-Heavy.otf");
}

/*? Aileron-HeavyItalic */
@font-face {
    font-family: Aileron-HeavyItalic;
    src: url("../fonts/aileron/Aileron-HeavyItalic.otf");
}
/*! ------------------------------------------------------------------------ */
/*! x end Aileron x */
/*! ------------------------------------------------------------------------ */

/*! ------------------------------------------------------------------------ */
/*! Passion_One */
/*! ------------------------------------------------------------------------ */
/*? PassionOne-Regular */
@font-face {
    font-family: PassionOne-Regular;
    src: url("../fonts/Passion_One/PassionOne-Regular.ttf");
}

/*? PassionOne-Bold */
@font-face {
    font-family: PassionOne-Bold;
    src: url("../fonts/Passion_One/PassionOne-Bold.ttf");
}

/*? PassionOne-Black */
@font-face {
    font-family: PassionOne-Black;
    src: url("../fonts/Passion_One/PassionOne-Black.ttf");
}
/*! ------------------------------------------------------------------------ */
/*! x end Passion_One x */
/*! ------------------------------------------------------------------------ */
/*! ------------------------------------------------------------------------ */
/*! Paytone_One */
/*! ------------------------------------------------------------------------ */
/*? PaytoneOne-Regular */
@font-face {
    font-family: PaytoneOne-Regular;
    src: url("../fonts/Paytone_One/PaytoneOne-Regular.ttf");
}
/*! ------------------------------------------------------------------------ */
/*! x end Paytone_One x */
/*! ------------------------------------------------------------------------ */